// 
// Footer
// 

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    //background-color: $secondary;
    background-image: url("../assets/img/00_background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;  
    color: $white;
}

.copyright {
    background-color: darken($secondary, 10%);
}
