// 
// About
// 

.purple-section {
//    background-image: url("../assets/img/00_background.png");
    background-image: url("../assets/img/BACKGROUNDS.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    a:link {
        color: rgb(228, 222, 189);
      }
      
      /* visited link */
      a:visited {
        color: rgb(228, 209, 39);
      }

}



.img-container {
    display:flex;
     flex-wrap: wrap;
    align-content: space-evenly;
    }
    .img-container img{
    width:50%;
    }

@media only screen and (max-width: 600px) {
    .table-borderless {
        display:none
        }

} 