// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-left.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            //- h2.portfolio-modal-title.text-center.text-black.text-uppercase.mb-0 Mapping the cities through the senses of those who make them
                            // Icon Divider
                            //- .divider-custom
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/ecities.svg', alt='...')
                        .text-left
                            // Portfolio Modal - Text                            
                            p.mb-4
                                | Understanding the interaction between people and urban spaces is key to finding ways to enhance citizens' health. In particular, the signals generated in our neurobiological architecture, which controls our emotions and decisions, during this interaction may provide invaluable insights.
                            p.mb-4
                                | The 
                                a(href='https://emotionalcities-h2020.eu/', target="_blank") eMOTIONAL Cities
                                | project
                                | - funded under the H2020-EU Programme, with 
                                a(href='https://cordis.europa.eu/project/id/945307', target="_blank") grant agreement 945307 
                                | - will characterise the urban health challenges and inequalities. Its work will lead to innovative eMOTIONAL city mapping that will be produced from spatial analysis on social and health data and neuroscience experiments. To do this, the project will draw on urban planning and design, neuroscience, and data science and technology.
                            p.mb-4
                                |The spatial data infrastructure (SDI) developed in WP3 - led by Yellow Bricks - will  establish an ecosystem of open-standards for hardware, software and cloud infrastructure that will be positioned to become a reference for subsequent research on the future of cities, neuroscience and beyond.