// Portfolio Modal 1
#privacyModal.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-left.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-center.text-black.text-uppercase.mb-0 Privacy Policy
                            // Icon Divider
                            .divider-custom
                            // Portfolio Modal - Image
                        .text-center
                            // Portfolio Modal - Text                            
                            p.mb-4
                            | ByteRoad does not log or share your personal information.
                            p.mb-4
                            | We don't track you. We don't profile you. Period
